
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font-1;
    src: url('./fonts/font-1.ttf');
}

@font-face {
    font-family: font-2;
    src: url('./fonts/font-2.ttf');
}

:root {
    --primary-color: #ff8800;
    --light-background-color: #fff7ef;
    --background-color: rgb(255, 224, 166);
    --dark-background-color: #bb6400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: font-1;
}

p {
    font-family: font-2;
    font-size: 1.75rem;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: none;
    color: none;
}

hr {
    color: var(--dark-background-color);
}

/* PAGINA PRINCIPAL */

.container {
    display: flex;
    background-color: var(--background-color);
}

.text-index {
    position: sticky;
    top: 0;
    width: 20vw;
    height: 100vh;

    display: inline;
}

.text-index h1 {
    width: 100%;

    margin-top: 2vh;
    margin-bottom: 4vh;

    text-align: center;
}

.text-index ul {
    width: 100%;
}

.text-index ul li {
    margin-bottom: 2vh;
}

.text-index ul li a h6 {
    display: flex;
    height: fit-content;
    font-size: 1.05rem;
}

.text-index ul li a h6 span {
    height: calc(1.5*1.05rem);
    margin: 0 3px 0 3px;
    transition: 0.05s;
}

.text-index ul li:hover a h6 span {
    transform: rotate(90deg);
}

.title-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.simulation-button {
    display: flex;
    font-family: font-1;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--light-background-color);
    border: 1px solid var(--dark-background-color);
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

.simulation-button span {
    margin: auto;
}

.simulation-button:hover {
    background-color: #ffa742;
}

li div .simulation-button {
    display: none;
    width: fit-content;
    padding: 4px;
    margin-left: 1.05rem;
}

li:hover div .simulation-button {
    display: flex;
}

li div:hover .simulation-button {
    transform: translateX(20px);
}

.container hr {
    width: 1px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;

    background-color: var(--light-background-color);
}

.text-container h4 {
    position: relative;

    width: 95%;

    margin-top: 5vh;

    font-size: 1.3rem;
}

.text-container h4 .simulation-button {
    position: absolute;
    top: 0;
    right: 5vw;
    width: 20vw;
    height: 100%;
}

.text-container p {
    width: 92%;
    display: flex;
    flex-direction: column;
}

.text-container p b {
    color: var(--dark-background-color);
}

.text-container p a {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

/* SIMULADORES */

.simulation-container {
    display: flex;
    width: 80vw;
    height: 100vh;
    justify-content: space-evenly;
    background-color: var(--light-background-color);
}

.simulator-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 45%;
}

.simulator-options div {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    background-color: var(--background-color);
    border: solid 1px var(--dark-background-color);
    border-radius: 7px;
    margin: auto;
    padding: 7px;
}

.simulator-options div p span {
    display: flex;
    font-weight: bold;
}

.simulator-options div p span input {
    width: 35%;
}

.simulator-container {
    position: relative;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: white;
    border: solid 1px black;
}

.simulator-container h6 {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(100, 100, 100, 0.6);
    z-index: 1;
}

.simulator-container button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 75px;
    height: 35px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--dark-background-color);
    border: solid 1px black;
    border-radius: 3px;
    cursor: pointer;
}

.simulator-container button:hover {
    background-color: var(--background-color);
    color: #0f0f0f;
}

#resorte {
    position: absolute;
    top: 0;
    left: 245px;
    width: 10px;
    height: 225px;
    background-color: black;
}

#peso {
    position: absolute;
    top: 100%;
    left: -20px;
    width: 50px;
    height: 50px;
    padding-top: 18px;
    background-color: darkseagreen;
    text-align: center;
    font-weight: bold;
    font-size: 0.6rem;
}

#tiempoMostrado {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 125px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}

@media screen and ( max-width: 576px ) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: var(--background-color);
    }

    .simulator-options {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-right: 10px;
    }
    
    .simulator-options div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        background-color: var(--dark-background-color);
        border-radius: 7px;
        margin: 10px;
        padding: 7px;
    }
    
    .simulator-options div p span {
        display: flex;
        font-weight: bold;
    }
    
    .simulator-options div p span input {
        width: 35%;
    }

    .simulator-container {
        position: relative;
        width: 95%;
        height: 300px;
        margin: 2.5%;
        background-color: white;
        border: solid 1px black;
    }
    
    .simulator-container h6 {
        position: absolute;
        top: 5%;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        color: rgba(100, 100, 100, 0.6);
        z-index: 1;
    }
    
    .simulator-container button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 75px;
        height: 35px;
        text-align: center;
        font-size: 1.2rem;
        background-color: var(--dark-background-color);
        border: solid 1px black;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .simulator-container button:hover {
        background-color: var(--background-color);
        color: #0f0f0f;
    }
    
    #resorte {
        position: absolute;
        top: 0;
        left: 48.75%;
        width: 10px;
        height: 120px;
        background-color: black;
    }
    
    #peso {
        position: absolute;
        top: 100%;
        left: -20px;
        width: 50px;
        height: 50px;
        padding-top: 18px;
        background-color: darkseagreen;
        text-align: center;
        font-weight: bold;
        font-size: 0.6rem;
    }
    
    #tiempoMostrado {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 125px;
        height: 35px;
        text-align: center;
        padding-top: 5px;
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
    }
}