
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background-color: #c5c5c5;
    --dark-background-color: #949494;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

/* BARRA DE NAVEGACIÓN */
.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark-background-color);
    border-bottom: solid 1px black;
}

.nav-bar h1 {
    margin-left: 20px;
}

.nav-bar h1:hover a {
    color: #2c2c2c;
}

.nav-bar h4 {
    position: relative;
    background-color: white;
    padding: 5px;
    margin-right: 20px;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
}

.nav-bar h4:hover ul {
    display: flex;
    transition: 0.5s;
}

.nav-bar h4 ul:hover {
    display: flex;
    transition: 0.5s;
}

.nav-bar h4 ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -5%;
    width: 110%;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    border: solid 1px black;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    background-color: white;
    z-index: 2;
}

.nav-bar h4 ul li {
    padding: 5px;
}

.nav-bar h4 ul li a {
    color: black;
    text-decoration: none;
}

.nav-bar h4 ul li:hover {
    background-color: var(--background-color);
}

/* PAGINA PRINCIPAL */

.text-container p {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.text-container p a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.blue-color {
    color: blue;
}

.container {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.simulator-options {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-right: 50px;
}

.simulator-options div {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    background-color: var(--dark-background-color);
    border-radius: 7px;
    margin: 10px;
    padding: 7px;
}

.simulator-options div p span {
    display: flex;
    font-weight: bold;
}

.simulator-options div p span input {
    width: 35%;
}

.simulator-container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: white;
    border: solid 1px black;
}

.simulator-container h6 {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(100, 100, 100, 0.6);
    z-index: 1;
}

.simulator-container button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 75px;
    height: 35px;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--dark-background-color);
    border: solid 1px black;
    border-radius: 3px;
    cursor: pointer;
}

.simulator-container button:hover {
    background-color: var(--background-color);
    color: #0f0f0f;
}

#resorte {
    position: absolute;
    top: 0;
    left: 245px;
    width: 10px;
    height: 225px;
    background-color: black;
}

#peso {
    position: absolute;
    top: 100%;
    left: -20px;
    width: 50px;
    height: 50px;
    padding-top: 18px;
    background-color: darkseagreen;
    text-align: center;
    font-weight: bold;
    font-size: 0.6rem;
}

#tiempoMostrado {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 125px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}